/* Form and feed related styles */

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-container {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

.tweet-button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  background-color: #4056A1;
  color: white;
}

#tweet-text {
  padding: 0;
  margin-bottom: 10px;
  background: transparent;

  padding-top: 1em;

  border: none;
  outline: none;
  resize: none;
  border-bottom: solid black;
}


/* for main feed */

.tweeter-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.tweeter-article:hover {
  box-shadow: 5px 10px;
}

.tweeter-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding-right: 1em;
}

.tweeter-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 20%;
}

.main-tweet {
  display: flex;

  width: 95%;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: solid black;
}

.tweeter-footer {
  display: flex;
  justify-content: space-between;

  width: 95%;
  padding: 1em;
}

.fa-flag:hover {
  color: #448AFF;
}
.fa-share:hover {
  color: #448AFF;
}
.fa-heart:hover {
  color: #448AFF;
}