.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

h2 {
  display: flex;
  justify-content: center;
}

.tweet-button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4056A1;
  color: white;
}

.tweet-box {
  padding: 0;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  border-bottom: solid black;
}